<!DOCTYPE html>
<html manifest="/manifest-appcache">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@this.ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body data-ng-app="appModule">
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    @*<a class="brand" href="#">SPA board - steaming Scrum</a>*@
                    <ul class="nav">
                        <li><a href="/scrumboard">Board</a></li>
                        <li><a href="/story/new">Create Story</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            @this.RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/3rdParty")
        @Scripts.Render("~/bundles/angularJs")
        @Scripts.Render("~/bundles/app")
        @this.RenderSection("scripts", required: false)
    </body>
</html>
